## Bonus Analysis for Employee DB

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib notebook
from sqlalchemy import create_engine

# Using SQLAlchemy to conect postgres to Python
engine = create_engine(f'postgresql://{user}:{password}@localhost:5432/EmployeeSQL')
connection = engine.connect()

In [ ]:
# Getting the data from query
# Table name: emp_salary
data_salary = pd.read_sql('SELECT * FROM emp_salary;', connection)
data_salary.head(15)

In [ ]:
# Ploting the salary distribution using Seaborn library
sns.set()
ax = sns.distplot((data_salary['salary'].astype(float)), kde=False, color='purple', bins=10)
plt.title('Salaries Distribution')
plt.xlabel('Salary')
plt.ylabel('Employees Count')
plt.tight_layout()

In [ ]:
# Getting the salaries by title for each employee
# Table name: emp_titles_slr
data_titles = pd.read_sql('SELECT * FROM emp_titles_slr;', connection)
data_titles

In [ ]:
# Bar plot salaries by title
sns.set()
bx = sns.barplot(x=data_titles['title'], y=data_titles['round'],palette='magma',alpha=0.7)
plt.title('Salary Count by Title')
plt.xlabel('Titles')
plt.ylabel('Counts')
plt.xticks(rotation='vertical')
plt.tight_layout()

In [ ]:
id_num = data_salary[data_salary['emp_no']=='499942']
id_num

In [ ]:
# D: